<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="item in items">
                <div class="row">
                    <div class="col-md-10">
                        <h3>{{item.name}} <small>({{item.short_name}})</small></h3>
                        <p>{{item.description}}</p>
                    </div>
                    <div class="col-md-2">
                        <button ng-click="onRemove({index: $index})" class="btn btn-default btn-block pull-right"><small>Don't want this one!</small></button>
                    </div>
                </div>

            </li>
        </ul>
    </div>
</div>
